body {
font-family: Arial, sans-serif;
background-color: #e6f2ff;
margin: 0;
padding: 0;
}
header {
background-color: #66b3ff;
color: white;
padding: 20px;
text-align: center;
}
main {
padding: 20px;
max-width: 800px;
margin: 0 auto;
}
p{
    margin-bottom: 40px;
}
.question {
background-color: #f0f8ff;
border-left: 5px solid #3399ff;
padding: 15px;
margin-bottom: 20px;
border-radius: 5px;
}
.question h2 {
margin-top: 0;
color: #0059b3;
}
.options {
margin-top: 10px;
}
.options p {
margin: 5px 0;
}
.answers {
margin-top: 40px;
background-color: #cce0ff;
padding: 20px;
border-radius: 5px;
}
.answers h2 {
margin-top: 0;
color: #003366;
}
.answers p {
margin: 5px 0;
}